body {
  padding-top: 0px;
}

pre {
  background: #f7f7f9;
}

@media (min-width: 768px) {
  body > .navbar-transparent {
    box-shadow: none;
    .navbar-nav > .open > a {
      box-shadow: none;
    }
  }
}

#home {
  padding-top: 0px;
  .navbar {
    transition: box-shadow 200ms ease-in;
  }
  .navbar-brand {
    .nav-link {
      display: inline-block;
      margin-right: -30px;
    }
    img {
      display: inline-block;
      margin: 0 10px;
      width: 30px;
    }
  }
  .btn {
    padding: 0.6em 0.7em;
    box-shadow: none;
    font-size: 0.7rem;
  }
}

.bs-docs-section {
  margin-top: 4em;
  .page-header h1 {
    padding: 2rem 0;
    font-size: 3rem;
  }
}

.dropdown-menu.show[aria-labelledby="themes"] {
  display: flex;
  width: 420px;
  flex-wrap: wrap;

  .dropdown-item {
    width: 33.333%;

    &:first-child {
      width: 100%;
    }
  }
}

.bs-component {
  position: relative;
  + .bs-component {
    margin-top: 1rem;
  }
  .card {
    margin-bottom: 1rem;
  }
  .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
  .modal-dialog {
    width: 90%;
  }
  .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: bold;
}

.nav-tabs {
  margin-bottom: 15px;
}

.progress {
  margin-bottom: 10px;
}

#footer {
  margin: 5em 0;
  li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }
  p {
    clear: left;
    margin-bottom: 0;
  }
}

.splash {
  padding: 12em 0 6em;
  background-color: #2196F3;
  color: #fff;
  text-align: center;
  .logo {
    width: 160px;
  }
  h1 {
    font-size: 3em;
    color: #fff;
  }
  #social {
    margin: 2em 0 6em;
  }
  .alert {
    margin: 2em 0;
    border: none;
  }
  .sponsor a {
    color: #fff;
  }
}

.section-tout {
  padding: 6em 0 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #eaf1f1;
  .fa {
    margin-right: 0.2em;
  }
  p {
    margin-bottom: 5em;
  }
}

.section-preview {
  padding: 4em 0 4em;
  .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1;
    img {
      max-width: 100%;
    }
    .image {
      position: relative;
      &:before {
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        pointer-events: none;
      }
    }
    .options {
      padding: 2em;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-top: none;
      text-align: center;
      p {
        margin-bottom: 2em;
      }
    }
  }
  .dropdown-menu {
    text-align: left;
  }
  .lead {
    margin-bottom: 2em;
  }
}

@media (max-width: 767px) {
  .section-preview .image img {
    width: 100%;
  }
}

.sponsor {
  img {
    max-width: 100%;
  }
  #carbonads {
    max-width: 240px;
    margin: 0 auto;
  }
  .carbon-text {
    display: block;
    margin-top: 1em;
    font-size: 12px;
  }
  .carbon-poweredby {
    float: right;
    margin-top: 1em;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .splash {
    padding-top: 8em;
    .logo {
      width: 100px;
    }
    h1 {
      font-size: 2em;
    }
  }
  #banner {
    margin-bottom: 2em;
    text-align: center;
  }
}