// HitchOn 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #375a7f !default;
$red:     #E74C3C !default;
$yellow:  #F39C12 !default;
$green:   #00bc8c !default;
$cyan:    #3498DB !default;

// Eigene Farben
$hitchon: #DDDC05 !default;
$gruen: #1CC73F !default;
$blau: #0096BF !default;
$orange: #FFA60F !default;
$rot: #C4321F !default;

// Social media brand colors
$social-colors : (
        z500px: #0099e5,
        about-me: #00405d,
        airbnb: #fd5c63,
        alphabet: #ed1c24,
        amazon: #ff9900,
        american-express: #002663,
        aol: #ff0b00,
        behance: #1769ff,
        bing: #ffb900,
        bitbucket: #205081,
        bitly: #ee6123,
        blogger: #f57d00,
        booking-com: #003580,
        buffer: #168eea,
        code-school: #616f67,
        codecademy: #f65a5b,
        creative-market: #8ba753,
        delicious: #3399ff,
        deviantart: #05cc47,
        digg: #005be2,
        disqus: #2e9fff,
        django: #092e20,
        dribbble: #ea4c89,
        dropbox: #007ee5,
        drupal: #0077c0,
        elance: #0d69af,
        envato: #82b541,
        etsy: #d5641c,
        facebook: #3b5998,
        feedly: #2bb24c,
        flattr: #f67c1a,
        flickr: #0063dc,
        flipboard: #e12828,
        flixster: #2971b2,
        foursquare: #0732a2,
        github: #333333,
        google: #4285f4,
        google-plus: #dc4e41,
        instagram: #3f729b,
        kickstarter: #2bde73,
        kik: #82bc23,
        lastfm: #d51007,
        line: #00c300,
        linkedin: #0077b5,
        mail-ru: #168de2,
        mailchimp: #2c9ab7,
        myspace: #000000,
        netflix: #e50914,
        ning: #75af42,
        path: #ee3423,
        patreon: #e6461a,
        paypal: #003087,
        photobucket: #0ea0db,
        pinterest: #bd081c,
        product-hunt: #da552f,
        quora: #a82400,
        rdio: #007dc3,
        reddit: #ff4500,
        rss: #f26522,
        salesforce: #1798c1,
        scribd: #1a7bba,
        shopify: #96bf48,
        skype: #00aff0,
        slack: #6ecadc,
        slideshare: #0077b5,
        soundcloud: #ff8800,
        spotify: #2ebd59,
        squarespace: #222222,
        stackoverflow: #fe7a15,
        stripe: #00afe1,
        stumbleupon: #eb4924,
        telegram: #0088cc,
        tumblr: #35465c,
        twitch-tv: #6441a5,
        twitter: #55acee,
        vimeo: #162221,
        vine: #00b488,
        wechat: #7bb32e,
        whatsapp: #43d854,
        wordpress: #21759b,
        yahoo: #410093,
        youtube: #cd201f
);

$primary:       $gray-700 !default;
$secondary:     $hitchon !default;
$success:       $gruen !default;
$info:          $blau !default;
$warning:       $orange !default;
$danger:        $rot !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Body

$body-bg:                   $gray-900 !default;
$body-color:                $white !default;

// Links

$link-color:                $secondary !default;

// Fonts

$font-family-sans-serif:      "DIN Next W02", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              0.9375rem !default;

// Tables

$table-accent-bg:             $gray-800 !default;

$table-border-color:          $gray-700 !default;

// Forms

$input-border-color:					transparent !default;

$input-group-addon-bg:                  $gray-700 !default;

// Dropdowns

$dropdown-bg:                       $gray-900 !default;
$dropdown-border-color:             $gray-700 !default;
$dropdown-divider-bg:               $gray-700 !default;

$dropdown-link-color:               $white !default;
$dropdown-link-hover-color:         $primary !default;
$dropdown-link-hover-bg:            $secondary !default;

// Navs

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-200 !default;

$nav-tabs-border-color:             $gray-700 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-padding-y:                  1rem !default;

$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $secondary !default;

// Pagination

$pagination-color:                  $primary !default;
$pagination-bg:                     $secondary !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;

$pagination-hover-color:            $primary !default;
$pagination-hover-bg:               lighten($secondary, 10%) !default;
$pagination-hover-border-color:     transparent !default;

$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;

$pagination-disabled-color:         $primary !default;
$pagination-disabled-bg:            darken($secondary, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Jumbotron

$jumbotron-bg:                      $gray-800 !default;

// Cards

$card-cap-bg:                       $gray-700 !default;
$card-bg:                           $gray-800 !default;

// Popovers

$popover-bg:                        $gray-800 !default;

$popover-header-bg:                 $gray-700 !default;

// Modals

$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $gray-700 !default;

$modal-header-border-color:         $gray-700 !default;

// Progress bars

$progress-height:                   10px !default;
$progress-font-size:                10px !default;
$progress-bg:                       $gray-700 !default;        

// List group

$list-group-bg:                     $gray-800 !default;
$list-group-border-color:           $gray-700 !default;

$list-group-hover-bg:               $gray-700 !default;

// Breadcrumbs

$breadcrumb-bg:                     $gray-700 !default;

// Close

$close-color:                       $white !default;
$close-text-shadow:                 none !default;
